<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Sistema de Transporte</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="vehiculosDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Vehículos
          </a>
          <ul class="dropdown-menu" aria-labelledby="vehiculosDropdown">
            <li><a class="dropdown-item" routerLink="/vehiculos">Listar Vehículos</a></li>
            <li><a class="dropdown-item" routerLink="/vehiculos/nuevo">Crear Vehículo</a></li>
          </ul>
        </li>
        
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="conductoresDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Conductores
          </a>
          <ul class="dropdown-menu" aria-labelledby="conductoresDropdown">
            <li><a class="dropdown-item" routerLink="/conductores">Listar Conductores</a></li>
            <li><a class="dropdown-item" routerLink="/conductores/nuevo">Crear Conductor</a></li>
          </ul>
        </li>


        <li class="nav-item">
          <a class="nav-link" routerLink="/asociar">Asociar</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/desasociar">Desasociar</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
